[MASTER]
disable=
    C0114,
    C0115,
    C0116,
    C0301 # flake8
load-plugins=pylint_django
django-settings-module=event_management.settings

[MESSAGES CONTROL]
disable = C0330, C0326

[format]
max-line-length = 88
